<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TeamuserMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Teamuser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TEAMID" jdbcType="NUMERIC" property="teamid" />
    <id column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="ADDDATE" jdbcType="TIMESTAMP" property="adddate" />
  </resultMap>
  <select id="findTeamMembers" parameterType="BigDecimal" resultType="com.company.project.model.user">
    select guser.username,nickname,headshot from(guser join teamuser) where teamid=#{teamid}
  </select>
   <select id="findByUsername" parameterType="String" resultType="com.company.project.model.Teamuser">
    SELECT * FROM teamuser WHERE username=#{userName}
  </select>
  <select id="findTeamuser" resultType="com.company.project.model.Teamuser">
    SELECT * FROM teamuser WHERE username=#{arg0} and teamid=#{arg1}
  </select>
  <delete id="removeMember" parameterType="com.company.project.model.Teamuser">
    delete from teamuser where username=#{username} and teamID=#{teamid}
  </delete>
  <select id="myTeams" parameterType="String" resultType="com.company.project.model.Team">
   select teamname,team.teamid from team join teamuser on team.teamID=teamuser.teamID where username='1'
  </select>
</mapper>