<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TeamuserMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Teamuser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TEAMID" jdbcType="NUMERIC" property="teamid" />
    <id column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="ADDDATE" jdbcType="TIMESTAMP" property="adddate" />
  </resultMap>
</mapper>